rdf/
noctua-models/
jars/
gaf/
blazegraph.jnl
*.log
rdfox.ttl
rules.log
bin/

stage_dir
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
s3cfg
backend.tf
go-ssh
go-ssh.pub
production-vars.txt
production-vars.tfvars
internal-*.cfg
internal-*.tfvars.json
production-*.cfg
production-*.tfvars.json
config-*.yaml
