ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

instance:
    tags:
       # possible values: graphstore-production-YYYY-MM-DD or graphstore-internal-YYYY-MM-DD
       Name: REPLACE_ME_INSTANCE_NAME
    instance_type: m5.large
    disk_size: 150
    dns_record_name: "REPLACE_ME_DNS_RECORD_NAME"
    dns_zone_id: "REPLACE_ME_DNS_ZONE_ID"

    open_ports:
       - 80
       - 22
       - 443
