#######
#
#######

graphstore_image=geneontology/go-graphstore:v1
apache_proxy_image=geneontology/apache-proxy:v1

########
# JAVA_HEAP

MEM=7G

######
# Used to access graphstore when stack is up
# Make sure a dns entry points to correct ip using nslookup or dig 
######
GRAPHSTORE_SERVER_NAME=REPLACE_ME
GRAPHSTORE_SERVER_ALIAS=REPLACE_ME
TEST_GRAPHSTORE_SERVER_ALIAS=REPLACE_ME
