#######
#
#######

graphstore_image=geneontology/go-graphstore:v1
apache_proxy_image=geneontology/apache-proxy:v1

########
# JAVA_HEAP

MEM=7G

#####
# Bucket to store apache logs.
####
S3_BUCKET_PREFIX=REPLACE_ME

######
# Used to access graphstore when stack is up http://graphstore.example.com/blazegraph
# Make sure a dns entry and points to correct ip using nslookup or dig 
######
GRAPHSTORE_SERVER_NAME=REPLACE_ME
GRAPHSTORE_SERVER_ALIAS=REPLACE_ME
TEST_GRAPHSTORE_SERVER_ALIAS=REPLACE_ME
