terraform {
  backend "s3" {
    bucket  = "REPLACE_ME_GOGRAPHSTORE_S3_STATE_STORE"
    profile = "default"
    key     = "cicd-testing-go-grahstore/terraform.tfstate"
    region  = "us-east-1"
    encrypt = true
  }
}
